.d1{
    background-color: rgb(167, 97, 97);
}
.d2{
    background-color: rgb(6, 147, 223);

}
.d3{
    background-color: rgb(97, 167, 134);

}
.d4{
    background-color: rgb(134, 167, 97);

}
.d5{
    background-color: rgb(141, 97, 167);

}
.container{
    font-size: 40px;
    width: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 20px;
}