.d1{
    background-color: rgb(255, 251, 0);
}
.d2{
    background-color: rgb(255, 0, 0);

}
.d3{
    background-color: rgb(0, 255, 136);

}
.d4{
    background-color: rgb(55, 0, 255);

}
.d5{
    background-color: rgb(160, 0, 253);
    grid-column: 2 / 4;
    grid-row: 2 / 4;

}
.container{
    font-size: 40px;
    width: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}