.d1{
    background-color: rgb(145, 255, 0);
}
.d2{
    background-color: rgb(255, 2, 221);

}
.d3{
    background-color: rgb(17, 0, 255);

}
.d4{
    background-color: rgb(238, 255, 0);

}
.d5{
    background-color: rgb(255, 0, 0);

}
.container{
    font-size: 40px;
    width: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 100px 2fr;
    grid-template-rows: 50px 50px;
}